* {
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.description {
    max-width: 60%;
}

.main {
    flex: 1;
}
@media screen and (max-width: 799px) {
    .description {
        display: none;
    }
}

.search-form>* {
    min-height: 22px;
    margin: 10px 2px;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 2px black;
    padding: 5px;
}

.search-form>*:hover {
    box-shadow: 0px 0px 3px black;
}

.result {
    position: relative;

}

.result {
    border-bottom: 1px solid cadetblue;
    display: flex;
}

.result span {
    max-width: 50%;
    margin-left: 10px;
}

.result .btn-details {
    position: absolute;
    right: 0;
    bottom: 0;
}
.result .btn-favor {
    position: absolute;
    right: 0;
}

.result img {
    max-width: 100px;
}

button {
    margin: 5px;
}

.btn--active {
    font-weight: 700;
}

#pageN {
    max-width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2 {
    line-height: 1.5;
    padding: 0;
    margin: 10px;
}

.hidden {
    opacity: 0;
    display: none;
}

.isFavorite {
    background-color: rgb(11, 119, 11);
}